{% extends 'my_app/../base.html' %}
{% load static %}
{% block title %}render_file{% endblock %}
{% block script %}
    <style>
        body {
            margin: 30px;
        }
    </style>

{% endblock %}


{% block content %}


    <!-- The 3 most common types of buttons button, submit, and reset -->
    <br>
    <input type="button" name="message" value="Alert Me" onClick="return alert('Hello there!');">
    <input type="submit" name="checkout" value="Checkout">
    <input type="reset" name="resetform" value="Reset">
    <!-- An image button -->
    <input type="image" src="{% static 'images/smiley.gif' %}" alt="Submit" width="42" height="42">
    <!-- A button element with an image and text nested inside -->
    <button type="submit"><img src="{% static 'images/cart.png' %}" width="50" height="50" alt="Add to Cart">Add to Cart
    </button>

    <input type="hidden" name="next" value="{{ next }}">

{% endblock %}