{% extends 'my_app/../base.html' %}

{% load static %}

{% block title %}Core attributes{% endblock %}

{% block style %}

    <style>
        body {
            font-size: 100%;
            margin-left: 2em;
            margin-right: 2em;
        }

        header {
            padding-bottom: .75em;
            border-bottom: 3px solid black;
            margin-bottom: 1.5em;
        }

        em {
            font-size: 120%;
            margin-bottom: 0;
            color: red;
        }

        strong {
            font-size: 150%;
            margin-bottom: 0;
        }

        i {
            font-size: 120%;
            margin-bottom: 0;
            color: blue;

        }

    </style>



{% endblock %}



{% block content %}
    <h1>San Joaquin Valley Town Hall</h1>
    <p class="first">Welcome to San Joaquin Valley Town Hall.</p>
    <form action="subscribe.php" method="post">
        <p>Please enter your e-mail address to subscribe to our
            newsletter.</p>
        <p class="first field">E-Mail:
            <input type="text" name="email" id="email"
                   title="Enter e-mail here."/></p>
        <p><input type="submit" value="Subscribe"/></p>
    </form>

{% endblock %}
