{% extends 'app_base_html.html' %}
{% load static %}
{% block title %}Create Table{% endblock %}

{% block style %}

    {#    <link href="{% static "css/app_body.css" %}" rel="stylesheet">#}

    <style>
        figure, figcaption {
            margin: 0;
            padding: 0;
        }

        figure {
            border: 1px solid black;
            width: 450px;
            padding: 15px;
            background-color: darkseagreen;
        }

        figcaption {
            display: block;
            font-weight: bold;
            text-align: center;
            font-size: 120%;
            padding-bottom: .25em;
            background-color: yellow;
        }

        table {
            border-collapse: collapse;
            border: 1px solid black;
            margin: 10px auto;

            background-color: dodgerblue;
        }

        th, td {
            border: 2px solid red;
            padding: .2em .2em;
        {#text-align: right;#}
        }

        th.left, td.left {
            text-align: left;
        }

        thead, tfoot {
            background-color: burlywood;
        }

        tfoot {
            font-weight: bold;
        }

        th:first-child, td:first-child {
            text-align: center;
        }

        tbody tr th:nth-child(1), tbody tr td:nth-child(1) {
            text-align: right;
        }

        tr:nth-child(even) {
            background-color: olivedrab;
        }


    </style>

{% endblock %}


{% block content %}
    <figure>
        <figcaption>Total Sales by Book</figcaption>
        <table>
            <thead>
            <tr>
                <th class="left">Book</th>
                <th>Year Published</th>
                <th>Sales</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">PHP and MySQL</td>
                <td>2017</td>
                <td>$372,381,999</td>
            </tr>
            <tr>
                <td>JavaScript and jQuery</td>
                <td>2017</td>
                <td>$305,447</td>
            </tr>
            <tr>
                <td>Android Programming</td>
                <td>2015</td>
                <td>$292,444</td>
            </tr>
            <tr>
                <td>Java Servlets and JSP</td>
                <td>2014</td>
                <td>$328,992</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="left">Total Sales</th>
                <td></td>
                <td>$1,399,264</td>
            </tr>
            </tfoot>
        </table>

             <figcaption>Total Sales by Book</figcaption>
    </figure>
{% endblock %}