{% extends 'my_app/../base.html' %}
{% block title %}render_file{% endblock %}

{% block content %}

    <form action="" name="form3" method="post">

        <p>Our company is conducting a survey. Please answer the question below.</p>
        <label for="link" id="lab-link">What is your preferred search engine:</label>
        <input type="email" name="link" id="link" list="links">

        <datalist id="links">
{#            <option value="http://www.google.com/" label="Google">#}
{#            <option value="http://www.yahoo.com/" label="Yahoo">#}
{#            <option value="http://www.bing.com/" label="Bing">#}
{#            <option value="http://www.dogpil.com/" label="Dogpil">#}

            <option value="pb@gmail.com" >
            <option value="ann@yahoo.com" label="Yahoo">
            <option value="nan@bing.com" label="Bing">
            <option value="yl@dogpil.com" label="Dogpil">

            </option>
        </datalist>
        <br><br>


        <input type="submit" name="submit" value="Submit survey">


    </form>



{% endblock %}