{% extends 'my_app/../base.html' %}
{% block title %}render_file{% endblock %}
{% block script %}
    <style>
        body {
            margin: 30px;
        }

        textarea {
            height: 5em;
            width: 25em;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

{% endblock %}



{% block content %}

    <form name="dropdownlist" action="" method="post">
        {% csrf_token %}
        {#        Crust:<br>#}
        {#        <select name="crust">#}
        {#            <option value="thin">Thin Crust</option>#}
        {#            <option value="deep">Deep Dish</option>#}
        {#            <option value="hand">Hand Tossed</option>#}
        {#        </select><br><br><br>#}

        <label for="crust ">CRUST:</label><br>
        <select id="crust " name="crust">
            <option value="thin">Thin Crust</option>
            <option value="deep">Deep Dish</option>
            <option value="hand">Hand Tossed</option>
        </select><br><br><br>


        Style:<br>
        <select name="size">
            <optgroup label="The New Yorker">
                <option value="ny10" selected>10"</option>
                <option value="ny12">12"</option>
                <option value="ny16">16"</option>
            </optgroup>
            <optgroup label="The Chicago">
                <option value="chi10">10"</option>
                <option value="chi12">12"</option>
                <option value="chi16">16"</option>
            </optgroup>

            <optgroup label="The San Francisco">
                <option value="chi10">10"</option>
                <option value="chi12">12" </option>
                <option value="chi16">16"</option>
            </optgroup>

        </select><br><br>

    </form>

{% endblock %}