{% extends 'my_app/../base.html' %}
{% block title %}render_file{% endblock %}

{% block content %}

    <h2>Your information:</h2>

    <form action="" name="number_range" method="post">


        <label for="investment" class="lab_number_range">Monthly investment:</label>
        <input type="number" name="investment" id="investment" min="100" max="1000" step="100" value="300"><br>

        <label for="book" class="lab_number_range">Rate the book from 1 to 5:</label>
        <input type="range" name="book" id="book" min="1" max="5" step="1" value="2"><br><br>


        <br><br>

        <input type="submit" name="submit" value="Submit survey">
        <input type="reset" name="reset" value="Clear">


    </form>



{% endblock %}